# Ignore virtual environment folder
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IDE/project files
.idea/

# Logs
*.log

# Environment variables
*.env

# macOS system files
.DS_Store